<html>
  <head>
  </head>

  <body>
    <h1>Controls</h1>

   <ul>
    <li> <a href="/ctl/marquee">Handle Marquee</a> </li>
    <li> <a href="/ctl/teaching-video">Set Main Video</a> </li>
   </ul>

  </body>
</html>
