<html>
  <head>
  </head>

  <body>
    <h1>Set Marquee</h1>

    <form method="post">
      <p>
	Next up: 
	<select name="skill">
	  <option value="a beginners">a beginners</option>
	  <option value="an intermediate">an intermediate</option>
	  <option value="an advanced">an advanced</option>
	</select>
	dance, the 
	<select name="dance">
	  <option value="chorus jig">chorus jig</option>
	  <option value="hay in the barn">hay in the barn</option>
	</select>,
	in
	<select name="countdown">
	  <option value="5">5</option>
	  <option value="10">10</option>
	  <option value="15">15</option>
	  <option value="20">20</option>
	  <option value="25">25</option>
	  <option value="30">30</option>
	  <option value="35">35</option>
	  <option value="40">40</option>
	  <option value="45">45</option>
	  <option value="50">50</option>
	  <option value="55">55</option>
	  <option value="60">60</option>
	</select>
	minutes.
	
      </p>

      <p>
	<input type="submit" value="set marquee"/>
      </p>
    </form>
    
  </body>
</html>






