<html>
  <head>
  </head>

  <body bgcolor="black" text="red">

    <p>
    <center>
      <a href="http://google.com">
	<marquee><%= marquee %></marquee>
      </a>
    </center>
    </p>

    <p>
    <center>
      <% if selection.type == :flash %>
       <embed
	 flashvars="file=<%= selection.htmlpath %>&autostart=true&repeat=single&controlbar=none&volume=0"
	 id="player1"
	 name="player1"
	 src="/player.swf"
	 width="80%"
	 height="80%"
	 />
      <% else %>
       <video width="80%" height="80%" loop controls autobuffer autoplay>
	<source src="<%= selection.htmlpath %>"  type="video/ogg" />
       </video>
      <% end %>

    </center>
    </p>

    <p>
    <center>
      <%= selection.caption %>
    </center>
    </p>
  </body>

</html>
