

h1 { color:red; text-align:center; font-size:40px; padding:20px 0 0 0; }
body { background-color:black; color:red; font-size:32px; font-family:arial; margin: 30px 0 20px 0; } 
table, td, th { background-color:black; color:red; font-size:32px; border-width:0; border-style:none; } 
td { padding:1px; }
p { text-align:center; }
fieldset { border-color:red; border-style:solid; }
.minutes-input { color:red; text-align:center; font-size:32px; font-family:arial; background-color:black; 
                 border:0; border-spacing:0;  padding: 0 0 5px 0; max-width:60px; } 
.submit-button { color:red; text-align:center; font-size:32px; font-family:arial; background-color:black; 
                 border-style: solid; border-color:red; border-spacing:0;  padding: 5px;  } 
.submit-button:hover { background-color:red; color:black }

